<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
		<!--<title>Tin D. Vo, PhD</title>-->
        <title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
				<li><a href="/research">Research & Publication</a></li>
	        	<li><a href="/experience">Education & Experience</a></li>
				<li><a href="/award">Award & Achievement</a></li>
        		<!--<li><a href="/blog">Blog</a></li>-->
    		</ul>
		</nav>
		<div class="container">
            {{ content }}
    		<!--<div class="blurb">-->
        		<!--<h1>Hi there, I'm Tin D. Vo!</h1>-->
				<!--<p>I'm a data scientist at <em>Chata.ai</em> <a href="/about">Read more about my life...</a></p>-->
    		<!--</div>&lt;!&ndash; /.blurb &ndash;&gt;-->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:duytinvo@gmail.com">email</a></li>
        		<li><a href="https://github.com/duytinvo">github.com/duytinvo</a></li>
			</ul>
		</footer>
	</body>
</html>