<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
		<!--<title>Tin D. Vo, PhD</title>-->
        <title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link href="/css/main.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
				<li><a href="/research">Research & Publication</a></li>
	        	<li><a href="/experience">Education & Experience</a></li>
				<li><a href="/award">Award & Achievement</a></li>
        		<!--<li><a href="/blog">Blog</a></li>-->
    		</ul>
		</nav>
		<div class="container">
            {{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:duytinvo@gmail.com">Email</a></li>
        		<li><a href="https://github.com/duytinvo">Github</a></li>
				<li><a href="https://www.linkedin.com/in/duytinvo/">Linkedin</a></li>
			</ul>
		</footer>
	</body>
</html>
